h1 {
    padding-bottom: 60px;
}

.art_p {
    padding: 5px 0px 0px 0px;
    margin: 0;
    text-indent: 20px;
}

li {
    padding-bottom: 20px;
}

h3 {
    padding-bottom: 10px;
}

h4 {
    padding-top: 25px;
}
