body {
  color: white
}

#main {
  width: 100%;
  min-height: 100vh;
  flex-grow: 1;
}

#main_log_reg {
  width: 100%;
  background: url("../../assets/img/Frame2.3_small.png") center / cover no-repeat;
  height: 100vh;
}

@media (min-width: 768px) {
  #main_log_reg {
    width: 100%;
    min-height: 100vh;
    background: url("../../assets/img/Frame2.3.png") center / cover no-repeat;
  }
}

#conteiner_nav_bar {
  padding-bottom: 50px;
}

#conteiner_nav_bar_reg {
  padding-bottom: 50px;
}

@media (min-width: 768px) {
  #conteiner_nav_bar_reg {
    padding-bottom: 0px;
  }
}

#content {
  margin: 20px;
  max-width: 1000px;
}

.footer_center_text {
  text-align: center;
  font-size: 14px;
}

#footer {
  color: #ffffff;
  font-family: Montserrat, sans-serif;
  padding-top: 40px;
}

#footer_main_conteiner {
  height: 120px;
  width: 100%;
  border-top-style: solid;
  border-radius: 15px;
}


#footer_par_col {
  font-size: 14px;
  width: 80px;
  padding: 0px;
}

#footer_left_row {
  margin: 10px 0px 0px 0px;
}

#footer_right_row {
  width: 80px;
  margin: 10px 0px 0px 0px;
}

.register {
  color: #ffffff;
}

.repair_information {
  color: #ffffff;
  margin: 20px;
  max-width: 1000px;
}

.field {
  padding-bottom: 10px;
}

.con_articles {
  padding: 0px 30px 0px 30px;
}
